.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.boardContainer {
  // padding style is inlined
}

.board {
  background-color: black;
}

.row {
  width: 100%;
  background-color: green;
  // height style is inlined
}

.squareBlack {
  width: 12.5%;
  height: 100%;
  float: left;
  background-color: brown;
}

.squareBlackHighlight {
  width: 12.5%;
  height: 100%;
  float: left;
  background-color: brown;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 1);
}

.squareWhite {
  width: 12.5%;
  height: 100%;
  float: left;
  background-color: burlywood;
}

.squareWhiteHighlight {
  width: 12.5%;
  height: 100%;
  float: left;
  background-color: burlywood;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 1);
}
